# General
TESTING_REPO= 

# Bitbucket info
BITBUCKET_CONSUMER_KEY= 
BITBUCKET_CONSUMER_SECRET= 
BITBUCKET_TOKEN= 
BITBUCKET_TOKEN_SECRET= 
BITBUCKET_USER= 

# Github info
GITHUB_ACCESS_TOKEN= 
GITHUB_USER=